body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    width: 450px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

#url-input {
    width: 91%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.radio-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.radio-group input {
    margin-right: 5px;
}

#download-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-button:hover {
    background-color: #0056b3;
}

#progress-container {
    margin-top: 20px;
    display: none;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.progress {
    width: 0%;
    height: 20px;
    background-color: #007bff;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 5px;
    transition: width 0.3s;
}

.swal2-popup {
    width: 299px !important;
    max-width: 90% !important;
    padding: 1px !important; 
}

.swal2-title {
    font-size: 18px !important;
}

.swal2-content {
    font-size: 16px !important;
}

.swal2-icon {
    font-size: 8px !important;
}
