<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Video</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
<div class="container">
    <button id="refreshBtn"><i class="fas fa-sync-alt"></i></button>
    <h2 class="mt-5">Download Video</h2>
    <div class="form-group">
        <label for="url">Video URL:</label>
        <input type="text" class="form-control" id="url" placeholder="Enter video URL">
    </div>
    <div class="form-group">
        <label>Format:</label>
        <div>
            <label class="radio-inline"><input type="radio" name="format" value="mp4" checked> Video</label>
            <label class="radio-inline"><input type="radio" name="format" value="mp3"> Music</label>
        </div>
    </div>
    <button id="downloadBtn" class="btn btn-primary">Download</button>
    <div class="progress mt-3">
        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
    </div>
</div>

<script>
    const socket = io();

    $(document).ready(function() {
        // Fetch progress on page load
        $.get('/progress', function(data) {
            updateProgressBar(data.percent);
        });

        $('#downloadBtn').click(function() {
            const url = $('#url').val();
            const format = $('input[name="format"]:checked').val();
            $.ajax({
                url: '/download',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ url: url, format: format }),
                success: function(response) {
                    console.log('Download started');
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        });

        socket.on('progress', function(data) {
            updateProgressBar(data.percent);
        });

        function updateProgressBar(percent) {
            $('.progress-bar').css('width', percent + '%').text(percent + '%');
        }

        $('#refreshBtn').click(function() {
            localStorage.clear(); // Limpa os dados armazenados localmente
            location.reload();    // Recarrega a página
        });
    });
</script>
</body>
</html> -->
